* {
  margin: 0;
}
body {
  background-color: #0d1117;
  background-image: url(/image.jpg);
}

.app {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
}
.app__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}
.app__header > h1 {
  color: #f3f2f8;
  font-size: 2rem;
}
.app__left {
  flex: 1;
}

.webcamera {
  background-color: #f3f2f8;
  padding: 1rem;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .app__header > h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 425px) {
  .app__header > h1 {
    font-size: 1.2rem;
  }
}
